@media screen and (max-width: 1201px) {
  .container {
    padding: 20%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 15%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
