a:visited {
    color: gray;
}

a:link {
    color: gray;
}

hr {
	border: none;
	border-top: 1px solid;
	height: 0px;
}

.container {
	padding: 20%;
	padding-top: 0;
	padding-bottom: 0;
}

header {
	padding-top:64px;
	text-align:center;
}
	
.left {
	padding-left: 1%;
	font-family: helvetica; 
	font-size: 12px;
}

.right {
	padding-right: 1%;
	float:right;
	font-family: helvetica; 
	font-size: 12px;
}

@media screen and (max-width: 1201px){
	.container {
	padding: 20%;
	padding-top: 0;
	padding-bottom: 0;
}

@media screen and (max-width: 1024px){
	.container {
	padding: 15%;
	padding-top: 0;
	padding-bottom: 0;
}

@media screen and (max-width: 768px){
	.container {
	padding: 10%;
	padding-top: 0;
	padding-bottom: 0;
}

@media screen and (max-width: 480px){
	.container {
	padding: 5%;
	padding-top: 0;
	padding-bottom: 0;
}

}
