body {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-size:3em;
}

h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size:1.8em;
}

h3 {
  margin-top:1.5em;
}

.flex-col {
  padding-inline:0.5em;
}

.plaintext-basis {
  flex-basis: 63%;
}

.list-basis {
  flex-basis: 90%;
}


/* || Media Queries */

@media (max-width: 1100px) {
  .flex { display:block; }
}

@media (max-width: 900px) {
  body { width:90%; }
}
