html {
  background: #1f1f1f;
  color: #e6e6e6;
}

body {
  margin: 0 auto;
  width: 60%;
}

p, 
a {
  font-family:'Helvetica';
  font-weight:300;
}

a,
a:visited {
  color: #4d8abf;
  text-decoration:none;
}

h1 {
  font-size:3em;
  margin-bottom:0;
}

h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size:1.8em;
}

h3 {
  margin-top:1.5em;
}

code a {
  font-family:inherit;
}

pre {
  background: #1a1a1a;
  padding-inline: 1em;
  box-shadow: inset 0 0 0.6em rgba(0, 0, 0, 0.2);
  border: 2px solid #242424;
  white-space: break-spaces;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  flex: 1;
  padding-inline:0.5em;
}

.flex-direction-column {
  flex-direction: column;
}

.gap {
  gap: 2.5em;
}

.plaintext-basis {
  flex-basis: 63%;
}

.list-basis {
  flex-basis: 90%;
}